<div class="container">
  <h3 class="row mt-3 mb-4"><%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集
  </h3>
  <%= form_with(model: @customer,url:admin_customer_path, method: :patch,local:true) do |f| %>
  <div class="row">
    <table class='table table-borderless'>
      <tr>
        <td><label>会員ID</label></td>
        <td><%= @customer.id %></td>
      </tr>
      <tr>
        <td><%= f.label :'氏名' %></td>
        <td><%= f.text_field :last_name %>
        <%= f.text_field :first_name %></td>
      </tr>
      <tr>
        <td><%= f.label :'フリガナ' %></td>
        <td><%= f.text_field :last_name_kana %>
        <%= f.text_field :first_name_kana %></td>
      </tr>s
      <tr>
        <td><%= f.label :'郵便番号' %></td>
        <td><%= f.text_field :postcode %></td>
      </tr>
      <tr>
        <td><%= f.label :'住所' %></td>
        <td><%= f.text_field :address %></td>
      </tr>
      <tr>
        <td><%= f.label :'電話番号' %></td>
        <td><%= f.text_field :phone_number %></td>
      </tr>
      <tr>
        <td><%= f.label :'メールアドレス' %></td>
        <td><%= f.text_field :email %></td>
      </tr>
      <tr>
        <td><%= f.label :'会員ステータス' %></td>
        <td><%= f.radio_button :is_deleted, false %>
        <%= f.label :'有効' %>
        <%= f.radio_button :is_deleted, true %>
        <%= f.label :'退会'%></td>
      </tr>
    </table>
    <%= f.submit '変更を保存', class: 'btn btn-success'%>
    <% end %>
  </div>
</div>