<%= flash[:error] %>
<div class="container">
  <h2 class="row mt-3 mb-3">ログイン</h2>

  <p class="mb-3">会員の方はこちらからログイン</p>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="row">
    <div class ='col-md-12'>
      <table class="table table-borderless">

        <tr>
          <td class="text-center"><%= f.label :email, "メールアドレス" %></td>
          <td><%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'w-50' %></td>
        </tr>
        <tr>
          <td class="text-center"><%= f.label :password, "パスワード" %></td>
          <td><%= f.password_field :password, autocomplete: "current-password", class: 'w-50' %></td>
        </tr>
        <tr>
          <td></td>
          <td>
          <div class="row mb-6">
          <button type="submit" class="btn btn-primary ml-3">ログイン</button>
          </td>
        </tr>
      </table>
  <% end %>

    <div class="row mt-3">
      <div class="actions">
    <h4>会員登録がお済みでない方</h4>
    <p><%= render "public/shared/links" %>から新規登録を行ってください。</p>
      </div>
    </div>
  </div>
</div>