<%= flash[:error] %>
<div class="container">
  <h2 class="row mt-3 mb-3">ログイン</h2>

  <p class="mb-3">会員の方はこちらからログイン</p>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="row mb-3">
      <div class="field">
        <%= f.label :email, "メールアドレス" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
    </div>

    <div class="row mb-3">
      <div class="field">
        <%= f.label :password, "パスワード" %>
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>
    </div>

    <div class="row mb-6">
      <button type="submit" class="btn btn-primary">ログイン</button>
    </div>

  <% end %>

  <div class="row mt-3">
      <div class="actions">
        <h4>会員登録がお済みでない方</h4>
        <p><%= render "public/shared/links" %>から新規登録を行ってください。</p>
      </div>
    </div>

</div>