<!DOCTYPE html>
<html>
  <head>
    <title>Naganocake</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>

      <% if admin_signed_in? %>
        <%= render 'layouts/adminheader' %>
      <% else %>
        <%= render 'layouts/publicheader' %>
      <% end %>

    </header>

    <div class="text-danger">
       <p><%= flash[:notice] %></p>
    </div>

    <%= yield %>
  </body>
</html>
